<div class="edit-profile-dialog">
  <div class="dialog-header">
    <mat-icon class="header-icon">edit</mat-icon>
    <h2 mat-dialog-title>{{ t.translate('profile.editProfile') }}</h2>
    <button mat-icon-button class="close-button" (click)="onCancel()" [attr.aria-label]="t.translate('common.close')">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <mat-dialog-content>
    <form [formGroup]="profileForm" class="profile-form">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>{{ t.translate('profile.username') }}</mat-label>
        <input
          matInput
          formControlName="username"
          [placeholder]="t.translate('profile.editDialog.usernamePlaceholder')"
          required
          autocomplete="username">
        <mat-icon matPrefix>person</mat-icon>
        <mat-error *ngIf="usernameError">{{ usernameError }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>{{ t.translate('auth.email') }}</mat-label>
        <input
          matInput
          formControlName="email"
          type="email"
          [placeholder]="t.translate('profile.editDialog.emailPlaceholder')"
          required
          autocomplete="email">
        <mat-icon matPrefix>email</mat-icon>
        <mat-error *ngIf="emailError">{{ emailError }}</mat-error>
      </mat-form-field>

      <div class="info-box">
        <mat-icon class="info-icon">info</mat-icon>
        <p>{{ t.translate('profile.editDialog.infoText') }}</p>
      </div>
    </form>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
      <button
        mat-stroked-button
        (click)="onCancel()"
        [disabled]="saving">
      {{ t.translate('common.cancel') }}
    </button>
    <button
      mat-raised-button
      color="primary"
      (click)="onSave()"
      [disabled]="profileForm.invalid || saving"
      class="save-button">
      <mat-icon *ngIf="!saving">save</mat-icon>
      <span>{{ saving ? t.translate('common.saving') : t.translate('common.save') }}</span>
    </button>
  </mat-dialog-actions>
</div>
